.your-profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.your-profile-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.your-profile-navbar-interactive {
  height: 67px;
  background-color: var(--dl-color-success-700);
}
.your-profile-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.your-profile-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.your-profile-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.your-profile-burger-menu {
  display: none;
}
.your-profile-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.your-profile-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.your-profile-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.your-profile-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.your-profile-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.your-profile-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.your-profile-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.your-profile-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.your-profile-nav2 {
  margin-bottom: var(--dl-space-space-unit);
}
.your-profile-nav3 {
  margin-bottom: var(--dl-space-space-unit);
}
.your-profile-nav4 {
  margin-bottom: var(--dl-space-space-unit);
}
.your-profile-nav5 {
  margin-bottom: var(--dl-space-space-unit);
}
.your-profile-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.your-profile-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.your-profile-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.your-profile-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.your-profile-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.your-profile-hero1 {
  height: 729px;
  margin-bottom: -5px;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: transparent;
}
.your-profile-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.your-profile-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.your-profile-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.your-profile-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.your-profile-features-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.your-profile-banner {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.your-profile-footer {
  height: 180px;
  margin-top: -8px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #489658;
}
.your-profile-container3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.your-profile-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.your-profile-nav11 {
  margin-left: 0px;
  text-decoration: none;
}
.your-profile-nav31 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.your-profile-nav41 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.your-profile-nav51 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.your-profile-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.your-profile-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .your-profile-hero1 {
    flex-direction: column;
  }
  .your-profile-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .your-profile-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .your-profile-footer {
    margin-top: -8px;
  }
}
@media(max-width: 767px) {
  .your-profile-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .your-profile-desktop-menu {
    display: none;
  }
  .your-profile-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .your-profile-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .your-profile-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .your-profile-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .your-profile-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .your-profile-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .your-profile-mobile-menu1 {
    padding: 16px;
  }
  .your-profile-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .your-profile-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .your-profile-btn-group {
    flex-direction: column;
  }
  .your-profile-footer {
    padding: var(--dl-space-space-unit);
  }
  .your-profile-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
